@model Trabalho_de_Laboratório.Models.Leitor

<h2>Login</h2>
<form asp-action="Login" method="post">
    <label>Nome:</label>
    <input asp-for="Nome" required />
    <label>Senha:</label>
    <input asp-for="Password" type="password" required />
    <button type="submit">Entrar</button>
</form>
